#root {
  height: 100vh;
}

h1 {
  color: #338fcd;
}

.formSecret {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .coin-recap {
    display: flex;
    flex-direction: column;

    &>div {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    .coin {
      width: 25px;
    }

    .coin-text {
      padding-right: 5px;
      font-size: 18px;
      color: #f1a635;
      font-weight: 600;
    }

    .price-text {
      padding-right: 5px;
      font-size: 18px;
      color: #616161;
      font-weight: 500;
    }
  }

  .form-accusation {
    width: 50%;
    max-width: 600px;

    .accusation-details {
      display: flex;
      flex-direction: column;

      .details {
        border-radius: 4px;
        margin-bottom: 30px;

        .status {
          padding: 8px 15px;
          border-radius: 4px 4px 0 0;
          color: white;

          &-accuser {
            background-color: #e35e9b;
          }

          &-accused {
            background-color: #54af29 !important;

          }
        }

        .accusation {
          background-color: white;
          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-weight: 500;
            margin-bottom: 5px;
          }

          border-radius: 0 0 4px 4px;
          padding: 15px;

          &-accuser {
            border: 2px solid #e35e9b;
          }

          &-accused {
            border: 2px solid #54af29;
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100%;
  font-weight: 700 !important;
  padding: 10px 0 !important;
  letter-spacing: 2px !important;
  font-size: 17px !important;

  &-pink {
    background-color: #e35e9b !important;
  }

  &-green {
    background-color: #54af29 !important;
  }

  &-red {
    background-color: #c72424 !important;
  }
}

form {
  width: 50%;
  max-width: 600px;
}

.MuiTextField-root {
  margin: 20px 0 !important;
  width: 100%;
}